<form action="/update" method="post">

<textarea name="new_content" style="border:solid 5px orange;" cols="100" rows="40"><%=content%></textarea>

<input id="content_submit" name="commit" type="submit" value="Update" />
<input name="slug" type="hidden" value= <%=slug%> />
</form>
