<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Rooster and Moon</title>
        <link rel="stylesheet" href="/test_style.css">
    </head>
    <body>
    <div class="header"><center>
      <a href="/"><img class="logo" src="images/RoosterMoonLogoWideWHT.png" alt="logo"></a>
    </center></div>  

    <center><ul class="menu"><font color='#484848'> 
        <li><a href="/">Home</a></li>
        <li><a href="/about-us">About Us</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/our-friends">Friends</a></li>
        <li><a href="/reviews">Reviews</a></li>
    </font>
    </ul></center>

    
        <center><%= yield %></center>
<p>
    <p>
    </body>
</html>
